@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  background-color: #feafc3;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  color: #2d3440;
}

.main-nav-link,
.phone-link,
.main-user-link {
  color: inherit;
  line-height: 20px;
  text-decoration: none;
}

.main-navigation {
  padding: 24px 0;
  width: 1170px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.phone-link {
  font-weight: 700;
}

.main-user-link {
  font-size: 14px;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 6px 16px;
  border-radius: 30px;
}

.main-nav-phone {
  margin: 0;
}

.slider-title {
  color: #2d3440;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  grid-area: title;
}

.slider-description {
  color: #2d3440;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  grid-area: text;
}

.slider-button {
  grid-area: button;
  align-self: start;
  justify-self: start;
}

.slider-image {
  grid-area: image;
}

.preview-container {
  grid-area: preview;
  align-self: center;
}

.title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

.gifts {
  margin-bottom: 81px;
}

.gifts-title {
  text-align: center;
  margin: 0;
  margin-bottom: 55px;
}

.popular-taste-title {
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
}

.gifts-item {
  background-color: #FF7799;
  color: #2D3440;
  padding: 36px;
  padding-right: 217px;
  box-sizing: border-box;
}

.gifts-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.taste-link-title {
  text-decoration: none;
  color: #2d3440;
}

.taste-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}


.popular-taste-item {
  background-color: #fcfcfc;
  width: 270px;
  min-height: 281px;
  border-radius: 8px;
}

.taste-price {
  color: #2d3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.delivery-title {
  margin: 0;
}

.about-us {
  background-color: #ffffff;

  border: 24px solid #fcc850;
  border-image-source: url("../images/wafer.jpg");
  border-image-slice: 40;
  border-image-repeat: round;
  padding: 56px 40px;
  margin-bottom: 80px;
}

.blog {
  background-color: #ffffff;
  width: 570px;
  min-height: 224px;
  background-image: url("../images/blog.jpg");
  border-radius: 16px;
  padding-left: 32px;
  padding-right: 170px;
  box-sizing: border-box;
}

.subscribe {
  background-color: #ffffff;
  width: 570px;
  min-height: 224px;
  border: 6px solid #69a9ff;
  border-image-source: url("../images/subscribe.jpg");
  border-image-slice: 10;
  border-radius: 16px;
  padding: 26px;
  box-sizing: border-box;
}

.delivery {
  background-color: #fcfcfc;
  width: 1170px;
  min-height: 534px;
  border-radius: 16px;
  background-image: url("../images/delivery.jpg");
  margin-bottom: 80px;
  display: flex;
  padding: 64px;
  box-sizing: border-box;
  justify-content: space-between;
}

.address {
  background-color: #e7e7e7;
  width: 1170px;
  min-height: 492px;
  border-radius: 16px;
  background-image: url("../images/address.jpg");
}

.blog-text {
  line-height: 20px;
}

.blog-title-link {
  text-decoration: none;
  color: #2d3440;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.delivery-span {
  font-weight: 700;
  color: #2d3440;
  line-height: 20px;
}

.delivery-form {
  background-color: #fcfcfc;
  width: 500px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
}

.delivery-text {
  margin: 0;
}

.form-text {
  margin: 0;
}

.delivery-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.address-container {
  background-color: #fcfcfc;
  width: 343px;
  min-height: 364px;
  border-radius: 8px;
}

.address-text--bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.address-text {
  margin: 0;
}

.production-list {
  font-size: 14px;
}

.production-link {
  color: #2d3440;
  text-decoration: none;
}

.production-item:first-child {
  font-weight: 700;
}

.developer-text {
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
}

.breadcrumbs-link {
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.catalog-select {
  font-family: Inter, sans-serif;
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
}

.catalog-description {
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
}

.catalog-card {
  background-color: #fcfcfc;
  width: 270px;
  min-height: 281px;
  border-radius: 8px;
}

.pagintation-link {
  color: #2d3440;
  line-height: 20px;
  text-decoration: none;
}

.gifts-item {
  width: 570px;
  min-height: 268px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: right;
}

.gifts-item:first-child {
  background-image: url("../images/raspberry.png");
}

.gifts-item:nth-child(2) {
  background-image: url("../images/marshmallow.png");
}

.button {
  border-radius: 26px;
  padding: 10px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.white-button {
  background-color: #fcfcfc;
  border: none;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.pink-button {
  background-color: #ff2f64;
  color: #fcfcfc;
  border: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.main-container {
  width: 1170px;
  margin: 0 auto;
}



.gifts-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  list-style-type: none;
}

.popular-taste-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.popular-taste {
  margin-bottom: 80px;
}

.block-container {
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
}

.page-footer {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}

.catalog-cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
}

.pagination {
  display: flex;
  list-style-type: none;
}

.pagination-container {
  display: flex;
}

.production-list {
  padding: 0;
  list-style-type: none;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.taste-button {
  background-color: #ff2f64;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.cart-svg {
  fill:  #fcfcfc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-icon {
  fill: #2d3440;
}

.main-nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.main-nav-link {
  display: block;
  padding: 8px 16px;
}

.main-user-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.arrow-down {
  padding-right: 38px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.prev-next-button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  position: absolute;
}

.link-telegram {
  background-image: url("../images/telegram.svg");
}

.link-vk {
  background-image: url("../images/vk.svg");
}

.link-youtube {
  background-image: url("../images/youtube.svg");
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(252, 252, 252, 0.3);
  background-repeat: no-repeat;
  border-radius: 50%;
}

.social-list {
  display: flex;
  list-style-type: none;
  gap: 14px;
  grid-area: social;
  justify-self: end;
}

.slider-division {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  gap: 8px;
  grid-area: division;
}

.slider-division-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
}

.slider-division-button-current {
  background-color: #fcfcfc;
}

.catalog-filter-group {
  border: none;
}

.slider-item {
  display: grid;
  grid-template-columns: 500px min-content 241px;
  grid-template-areas:
  "title image preview"
  "text image preview"
  "button image preview"
  "division division social";
  position: relative;
}

.display-none {
  display: none;
}

.about-us-item::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
}

.about-us-item {
  display: flex;
  gap: 16px;
}

.about-us-title {
  margin: 0;
  margin-bottom: 56px;
  text-align: center;
}

.popsicle::before {
  background-image: url("../images/about-us/popsicle.svg");
}

.leaf::before {
  background-image: url("../images/about-us/leaf.svg");
}

.cow::before {
  background-image: url("../images/about-us/cow.svg");
}

.thermometer::before {
  background-image: url("../images/about-us/thermometer.svg");
}

.about-us-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
